[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
django-debug-toolbar = "*"

[packages]
django = "==5.1.13"
requests = "==2.32.3"
pyjwt = "==2.10.1"
cryptography = ">=39.0.2"
awesome-slugify = ">=1.6.5"
mistune = "==3.1.4"
click = "*"
pillow = ">=9.0.1"
python-telegram-bot = {extras = ["webhooks"], version = "==20.7"}
django-q2 = {extras = ["sentry"], version = "==1.7.6"}
redis = "==5.2.1"
python-dotenv = ">=0.12"
django-redis = "==5.4.0"
gunicorn = "==23.0.0"
uvicorn = "*"
uvloop = ">=0.21.0"
icalendar = "*"
httptools = "*"
sentry-sdk = "==2.20.0"
django-webpack-loader = "==3.1.1"
psycopg = {extras = ["binary", "pool"], version = "*"}
whitenoise = {extras = ["brotli"], version = "*"}
django-anymail = {extras = ["brevo"], version = "*"}

[requires]
python_version = "3.12"
