{% extends "layout.html" %}
{% load static %}
{% load text_filters %}

{% block title %}
    Инвайты — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">💌<br>Инвайты</div>

        <div class="block-description block-description-center">
            <p>
                Здесь можно создать инвайт и подарить его другу, чтобы он смог зарегистрироваться в сообществе.
            </p>

            <br>

            <form action="{% url "create_invite" %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button">🎁 Создать инвайт-код</button>
            </form>

            {% if me.is_god %}
                <br>
                <form action="{% url "godmode_generate_invite_code" %}" method="post">
                    <button class="button">💣 Сгенерировать инвайт</button>
                </form>
            {% endif %}

            <div class="invites-list">
                {% for invite in invites %}
                    <a href="{% url "show_invite" invite.code %}" class="block invites-list-item zoom-on-hover">
                        <strong>
                            Инвайт {{ invite.code|slice:":3" }}...{{ invite.code|slice:"-3:" }}
                        </strong>
                        <span>
                            {% include "invites/widgets/status_badge.html" %}
                        </span>
                        <span>
                            {% if invite.used_at %}
                                ➡️ {{ invite.invited_user.full_name }}
                            {% elif invite.is_expired %}
                                истек {{ invite.expires_at | date:"j E Y" }}
                            {% else %}
                                истекает {{ invite.expires_at | date:"j E Y" }}
                            {% endif %}
                        </span>
                    </a>
                {% endfor %}
            </div>

            <small>
                Код действителен год. До активации инвайт можно переподарить любому другому человеку.
            </small>
        </div>
    </div>
{% endblock %}
