{% extends "layout.html" %}

{% block content %}
    <div class="block membership-expired">
        <div class="membership-expired-title">Доступ временно ограничен</div>

        <div class="membership-expired-description">
            <p>
                В сообществе нет платного членства. Доступ предоставляется выпускникам, сотрудникам и друзьям РЭШ
                по почте <strong>@nes.ru</strong> или по инвайту.
            </p>
            <p>
                Если доступ нужно продлить или что-то пошло не так — пишите на
                <strong><a href="mailto:atishin@nes.ru">atishin@nes.ru</a></strong>.
            </p>
        </div>
    </div>

    <div class="block membership-expired" style="margin-top: 280px;">
        <div class="membership-expired-title">☠️ Хочу удалить аккаунт</div>

        <div class="membership-expired-description">
            <p>
                Без проблем. Напишите «{{ settings.GDPR_DELETE_CONFIRMATION }}» в поле ниже — это запустит процесс
                очистки и удаления профиля из сообщества насовсем.
            </p>
        </div>

        <div class="membership-expired-description">
            <form action="{% url "request_delete_account" %}" method="post" onsubmit="return confirm('Точно?')">
                {% csrf_token %}
                <input type="text" name="confirm" placeholder="{{ settings.GDPR_DELETE_CONFIRMATION }}" style="width: 300px;" required>
                <button type="submit" class="button button-small button-red">Подтверждаю</button>
            </form>
        </div>
    </div>
{% endblock %}
