{% extends "layout.html" %}

{% block content %}
    <div class="content pay">
        <div class="block pay-warning pay-description">
            <div class="pay-title">Оплаты отключены</div>
            В сообществе нет платного членства. Доступ выдается выпускникам, сотрудникам и друзьям РЭШ по почте
            <strong>@nes.ru</strong> или по инвайту.
            <br><br>
            Если у вас есть вопросы — пишите на <strong><a href="mailto:atishin@nes.ru">atishin@nes.ru</a></strong>.
        </div>
    </div>
{% endblock %}
