{% extends "layout.html" %}
{% load static %}
{% load text_filters %}

{% block title %}
    Поддержка сообщества — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">🎓<br>Поддержка сообщества</div>

        <div class="block-description block-description-center">
            В сообществе нет платного членства. Доступ получают выпускники, сотрудники и друзья РЭШ по почте
            <strong>@nes.ru</strong> или по инвайту.
        </div>

        <div class="block-description block-description-center">
            Если нужно продлить доступ или есть вопросы — пишите на <a href="mailto:atishin@nes.ru">atishin@nes.ru</a>.
        </div>

        <div class="block-description block-description-center">
            <a href="{% url "invites" %}" class="button">🎁 Управление инвайтами</a>
        </div>
    </div>
{% endblock %}
