{% extends "message.html" %}

{% block message %}
    <h2>Готово 🤘</h2>

    {% if "invite" in payment.product_code %}
        <p>
            Инвайт создан.
        </p>

        <p>
            Отныне он сохранен в списке инвайтов в настройках профиля.
            Можно пойти туда, взять код и поделиться им с другом! 👇
        </p>

        <br>

        <p>
            <a href="{% url "invites" %}" class="button">Мои инвайты</a>
        </p>

    {% elif payment.user.is_member %}
        <p>
            Доступ подтвержден!
        </p>

        <p>
            Если видите несостыковки или нужен доступ — пишите на atishin@nes.ru.
        </p>

        <br>

        <p>
            <a href="{% url "profile" payment.user.slug %}" class="button">Вернуться в свой профиль</a>
        </p>
    {% else %}
        <p>
            Теперь у вас есть аккаунт в сообществе! Рады видеть :)
        </p>

        <p>
            Почта для входа: <strong>{{ payment.user.email }}</strong>
        </p>

        <p>
            Можно начать заполнять профиль, чтобы рассказать другим участникам о себе 👇
            <br><br>
        </p>

        <p>
            <a href="{% url "login" %}?email={{ payment.user.email|urlencode }}" class="button">Войти в свой профиль</a>
        </p>
    {% endif %}
{% endblock %}
